/*  */


.wrapp {
opacity: 0.7;   
height:300px;    
background-color: #0e0c0c;         
} 
       
#hero_row {
    /* margin: 0px auto !important; */
    height: 300px;
    color: white;
}

#hero-forms {
    opacity: 1;
}

#hero-forms input[type="text"] {
    border:2px;
    /* border-radius: 2em; */
}

#hero-forms button {
    border:2px;
    border-radius: 2em;
}
.Autocomplete{

     width: 100%;
     border :1px grey;
     /* text-align: center; */
}

.Autocomplete input {

    width: 100%;
    border:none;
    color:black;
}
.Autocomplete ul {
        width: 72.4%;
    border-style: ridge;
    /* float: left; */
    list-style: none;
    position: absolute;
    top: 5.71em;
    text-align: left;
    border: 2px;
    /* margin-left: 2%; */
    padding: 1%;
    background-color: white;
    margin-top: 1px;
}

.Autocomplete ul li {
    
    color: black;
    padding: 3px;
}


@media screen and (max-width:600px) {

    #hero-forms h3 {
        font-size: 1em;
    }

    #hero-forms input[type="text"] {
        width: 50%;
    }
    #hero-forms .btn {
        padding: 0.5rem;
        font-size: 12px;
    }

    
    
}
